body {
    background-color: lightslategray;
}
.instagram {
    background-color: red;
    padding: 10px;
    color: black;
    margin: 0px 10px 0px 40px;
}
.twitter {
    background-color: blue;
    padding: 10px;
    border: 10px;
    margin: 10px;
    color: black;
}
.contato {
    background-color: pink;
    padding: 10px;
    color: black;
    border: 10px;
    margin: 10px;
}
.logo {
    margin: 10px;
    margin-top: 20px;
    border-radius: 10px;
    border: solid gray 10px;
}
h3 {
    background-color: red Important;
}
h3 {
    background-color: blue;
}

